/*-- scss:defaults --*/
$body-bg: #f8f9fa; /* Un gris muy claro para el fondo del cuerpo */
$body-color: #212529; /* Negro o gris oscuro para el texto */
$link-color: #007bff; /* Un azul brillante para los enlaces */
$sidebar-bg: #e9ecef; /* Un gris claro para el fondo del sidebar */
$code-background-alpha: 0.8; /* Ajuste de la opacidad para el fondo del código */
$popover-bg: #f8f9fa; /* Un gris muy claro para los fondos de los popover */
$input-bg: #ffffff; /* Blanco para el fondo de los inputs */
